<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="favicon" href="/./static/HF-Logo.png">
        <link rel="stylesheet" href="/./static/index.css">
    </head>
    <body>
        <nav>
            <img src="/./static/HF-Logo.png" alt="HF">
            <a href="#" class="link-nav selected">
                Home
            </a>
            <a href="" class="link-nav off">
                Apps
            </a>
            <a href="" class="link-nav off">
                About us
            </a>
            <a href="" class="link-nav off">
                Contact us
            </a>
            <a href="/profile" class="link-nav">
                {{user_name}}
            </a>
        </nav>
        <footer>
            <img src="/./static/HF-Logo.png" alt="HF" width="30">
        </footer>
    </body>
</html>